h1{
    color: white;
    text-align: center;
    font-family: Libre Baskerville;
}
p{
    color: white;
    text-align: center;
    font-family: Libre Baskerville;
}
div{
    background-color: black;
}
img{
    border: 5px white;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
img{
    width: 100%;
}